.section {
	@apply py-14;
}
.heading {
	@apply text-center mb-7;
}
.services {
	@apply flex flex-wrap gap-8;
}
.service {
	max-width: calc(25% - 24px);
}

@media (max-width: 1250px) {
	.services {
		@apply gap-6;
	}
	.service {
		max-width: calc(25% - 18px);
	}
}

@media (max-width: 1200px) {
	.service {
		max-width: calc(50% - 12px);
	}
}

@media (max-width: 850px) {
	.service {
		@apply max-w-full;
	}
}

@media (max-width: 700px) {
	.section {
		@apply py-10;
	}
}

@media (max-width: 550px) {
	.section {
		@apply py-8;
	}
}

@media (max-width: 480px) {
	.services {
		@apply gap-3;
	}
	.heading {
		@apply mb-5;
	}
}
