.section {
	@apply py-14;
}
.heading {
	@apply mb-6;
}
.reviews {
	@apply flex flex-col gap-5;
}
.pagination {
	@apply mt-8;
}
.back {
	@apply w-fit btn-green py-2.5 px-6 rounded-sm flex items-center gap-2 mb-5;

	> svg {
		@apply w-5 h-5;
		stroke-width: 2.5px;
	}
}

@media (max-width: 1000px) {
	.heading {
		@apply mb-5;
	}
	.back {
		@apply py-2 text-medium-md;

		> svg {
			width: 18px;
			height: 18px;
		}
	}
}

@media (max-width: 700px) {
	.section {
		@apply py-10;
	}
}

@media (max-width: 550px) {
	.back {
		@apply mb-4 text-medium-sm px-4;

		> svg {
			@apply w-4 h-4;
			stroke-width: 3.3px;
		}
	}
	.section {
		@apply py-8;
	}
	.pagination {
		margin-top: 26px;
	}
}

@media (max-width: 480px) {
	.reviews {
		@apply gap-4;
	}
}

@media (max-width: 400px) {
	.heading {
		@apply mb-4;
	}
}
